[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="symfony"
    database_user="symfony"
    database_password="*symfony*"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="es"
    secret="e1a41e38334f18f8938c77d34963614a"
